# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [28]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os
from config import api_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [23]:
df = pd.read_csv("../WeatherPy/weatherdata.csv")

df

,Unnamed: 0,latitude,longitude,temp_f,wind_speed_meters_sec,cloudiness,humidity,hemisphere
0,0,29.11598,138.35359,80.76,3.42,98,71,Northern
1,1,79.80197,39.56512,30.16,8.27,100,94,Northern
2,2,20.48208,-31.77221,78.69,6.84,98,83,Northern
3,3,75.61902,-175.01224,30.42,5.82,58,97,Northern
4,4,-1.81252,34.02270,75.20,1.86,75,69,Southern
...,...,...,...,...,...,...,...,...
496,496,87.09952,112.01662,27.07,5.03,100,99,Northern
497,497,-4.45250,112.72295,81.77,5.01,97,81,Southern
498,498,-66.19767,30.03318,-0.22,5.79,100,93,Southern
499,499,-22.75575,163.46040,71.83,4.35,17,79,Southern
500,500,60.03656,45.96087,50.20,2.15,0,92,Northern

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [43]:
# Ideal weather: 70 degrees, 30% cloudy, wind speed less than 10, 50% humidity

df = df[["latitude", "longitude", "temp_f", "wind_speed_meters_sec", "cloudiness", "humidity", "hemisphere"]]

df = df[(df["temp_f"] >= 65) & (df["temp_f"] <= 75)]
df = df[(df["cloudiness"] >= 10) & (df["cloudiness"] <= 50)]
df = df[(df["humidity"] >= 20) & (df["humidity"] <= 70)]
df = df[df["wind_speed_meters_sec"] < 10]

df["lat_and_lon"] = df["latitude"].astype(str) + ", " + df["longitude"].astype(str)

df.head()

,latitude,longitude,temp_f,wind_speed_meters_sec,cloudiness,humidity,hemisphere,lat_and_lon
36,-32.18858,-68.67544,71.02,6.86,45,29,Southern,"-32.18858, -68.67544000000001"
43,37.86434,20.69756,74.39,2.10,40,65,Northern,"37.864340000000006, 20.69756"
95,-23.45918,-104.32355,67.71,7.47,45,68,Southern,"-23.45918, -104.32355"

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [50]:
# Pull data from API

vacation_spots = []

for element in df:

    data = requests.get(
        "https://maps.googleapis.com/maps/api/place/nearbysearch/json?",
        params={
            "key": api_key,
            "location": df["lat_and_lon"],
            "radius": 5000,
            "type": "lodging"
        },
    )

    vacation_spots.append(data)

print(list(vacation_spots))

[<Response [200]>, <Response [200]>, <Response [200]>, <Response [200]>, <Response [200]>, <Response [200]>, <Response [200]>, <Response [200]>]

In [48]:
latlng=40.714224,-73.961452&key=YOUR_API_KEY

In [51]:
data = requests.get(
        "https://maps.googleapis.com/maps/api/place/nearbysearch/json?",
        params={
            "key": api_key,
            "location": df["lat_and_lon"],
            "radius": 5000,
            "type": "lodging"
        },
    )

data

In [53]:
   
vacation_spots = []

for element in df:

    data = requests.get(
        "https://maps.googleapis.com/maps/api/geocode/json?",
        params={
            "key": api_key,
            "latlng": df["lat_and_lon"],
            "radius": 5000,
            "type": "lodging"
        },
    )

    vacation_spots.append(data)

print(list(vacation_spots))

[<Response [200]>, <Response [200]>, <Response [200]>, <Response [200]>, <Response [200]>, <Response [200]>, <Response [200]>, <Response [200]>]

In [49]:
# vacation_spots = []

# # for element in df:

#     data = requests.get(url)

#     vacation_spots.append(data)

# print(list(vacation_spots))

[<Response [200]>, <Response [200]>, <Response [200]>, <Response [200]>, <Response [200]>, <Response [200]>, <Response [200]>, <Response [200]>]

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure